@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .link {
    @apply text-lg font-semibold hover:text-cyan-400 active:text-cyan-500  hover:font-bold leading-normal
  }
}